<header class="site-header sticky-top py-2 bg-body-tertiary">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <span class="py-0" id="logo" href="#" >
      <i class="bi bi-cup-hot"></i> Café com Pão
    </span>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'index' %}">Principal</a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'padarias_list' %}">Padarias</a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'cestas_list' %}">Cestas</a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'sobre' %}">Sobre</a>
    {% if user.is_authenticated %}
      <span class="py-2 d-none d-md-inline-block">
        <a href="{% url 'minha_conta' %}">Minha Conta</a> /
        <a href="{% url 'logout'%}">Sair</a>
      </span>
    {% else %}
      <a class="py-2 d-none d-md-inline-block" href="{% url 'login' %}">Entrar</a>
    {% endif %}
  </nav>
</header>

